*{
    box-sizing: border-box;
}

body{
    background: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.heading1{
    text-align: center;
    color: white;
    font-size: 50px;
}

#h4id{
    color: pblack;
    font-size: 40px;
    position: absolute;
    left: 850px;
    top: 200px;
}

#my-bio-main ul{
    list-style-type: "\2705";
}

h3{
    color:purple;
    margin-top: 10px;
}

.my-bio{
    width: 280px;
    height: 150px;
    left: 750px;
    top: 190px;
    font-size: 30px;
    position: relative;
    z-index: 10;
    color: bisque;
}

.bio-background-image{
    width: 400px;
    height: 404px;
    position: absolute;
    object-fit: cover;
    border-radius: 30px;
    left: 730px;
    top: 300px;
    transition: all 0.3s ease-in-out;
}

.bio-background-image:hover{
    transform: scale(1.05);
}

.girl-image{
    width: 300px;
    height: 300px;
    top: 140px;
    left: 360px;
    position: absolute;
    object-fit: contain;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.girl-image:hover{
    transform: scale(1.05);
}

.girl-text{
    position: absolute;
    top: 450px;
    left: 460px;
    font-size: 30px;
    color: purple;
}

.click-on-button{
    position: absolute;
    top: 190px;
    left: 700px;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    background-color: orange; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.click-on-button:hover{
    transform: scale(1.2);
}

.button-me-data a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.github-button{
    position: relative;
    top: 170px;
    left: 755px;
    font-size: 30px;
    z-index: 10;
    a:hover{
        color: yellow;
    }
    a{
        color: black;
    }
}