*{
    box-sizing: border-box;
}

body{
    background: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.heading1{
    text-align: center;
    color: white;
    font-size: 50px;
}

#h4id{
    color: green;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top: 10px;
}

h3{
    color:purple;
    margin-top: 10px;
}

.my_bio{
    width: 400px;
    height: 300px;
    left: 160px;
    top: 60px;
    color: blue;
    font-size: 30px;
    background-color: white;
    position: absolute;
}

.image{
    width: 300px;
    height: 300px;
    top: 140px;
    left: 360px;
    position: absolute;
    object-fit: contain;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.image:hover{
    transform: scale(1.05);
}

.ClickButton{
    position: absolute;
    top: 50px;
    left: 430px;
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    background-color: orange; 
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.ClickButton a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.ClickButton:hover{
    transform: scale(1.2);
}

.girltext{
    position: absolute;
    top: 450px;
    left: 393px;
    font-size: 30px;
}

.buttontext{
    position: absolute;
    top: 190px;
    left: 160px;
    font-size: 30px;
}